/*Variables principales*/
:root{
    --color-fondo:#0f172a;
    --color-tarjeta: #1e293b;
    --color-texto-principal:#f8fafc;
    --color-texto-secundario:#94a3b8;
    --color-primario:#6366f1;
    --color-secundario:#06b6d4;
    --borde-redondeado:16px;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto-principal);
    line-height: 1.7;
    padding: 20px;
}

hr{
    display: none;
}

@media (min-width:992px){
    body{
        display: grid;
        grid-template-columns: 320px 1fr;
        gap:40px;
        max-width: 1250px;
        margin: 40px auto;
        align-items: start;
    }

    header{
        position: sticky;
        top: 40px;
    }
}

header{
    background: linear-gradient(135deg, #1e293b,#0f172a);
    padding: 30px;
    border-radius:var(--borde-redondeado);
    border: 1px solid rgba(255, 255,255, 0.05);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.03);
}

header h1{
    font-size: 1.8rem;
    color: var(--color-texto-principal);
    margin-bottom: 10px;
    line-height: 1.2;
}

header p{
    font-size: 0.9rem;
    color: var(--color-texto-secundario);
    margin-bottom: 25px;
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

nav a{
    text-decoration: none;
    color: var(--color-texto-secundario);
    font-weight: 600;
    font-size: 0.95rem;
    padding: 12px 16px;
    border-radius: 8px;
    transition: var(--color-texto-principal);
    display: block;
    background-color: var(--color-tarjeta);
    border: 1px solid transparent;
}
nav a:hover{
    color: var(--color-secundario);
    background-color: var(--color-fondo);
    border-color: var(--color-texto-secundario);
    transform: translateX(8px);
}

main{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

section{
    background-color: var(--color-tarjeta);
    padding: 40px;
    border-radius: var(--borde-redondeado);
    border: 1px solid transparent;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    scroll-margin-top: 40px;
}

section h2{
    color: var(--color-secundario);
    font-size: 1.6rem;
    margin-bottom: 25px;
    border-bottom: 2px solid rgba(101, 209, 249, 0.601);
    padding-bottom: 2px;
}

section h3{
    font-size: 1.15rem;
    color: var(--color-primario);
    margin-top: 20px;
    margin-bottom: 12px;
}

section p{
    color: var(--color-texto-secundario);
    margin-bottom: 15px;
}

section p strong{
    color: var(--color-texto-principal);
}


img{
    border-radius: 50%;
    border: 2px solid var(--color-texto-secundario);
    box-shadow: 0 0 15px rgba(101, 209, 249, 0.601);
    display: block;
    margin-bottom: 25px;
}

img:hover{
    transform: scale(1.1) rotate(6deg);
    filter: brightness(1.1);

}

ul,ol{
    padding-left: 20px;
    margin-bottom: 20px;
}

li{
    color: var(--color-texto-secundario);
    margin-bottom: 10px;
    font-size: 0.95rem;
}

ol li::marker{
    color: var(--color-primario);
    font-weight: bold;
}

#experiencia{
    overflow-x: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 0.9rem;
    background-color: #11182a;
    border-radius: 8px;
    overflow: hidden;
}

th, td{
    padding: 16px 20px;
    text-align: left;
}


